@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$ec-dark-green: #344e41;
$ec-medium-green: #3a5a40;
$ec-green: #588157;
$ec-light-green: #a3b18a;
$ec-grey: #dad7cd;

$theme-colors: (
  "ec-dark-green": $ec-dark-green,
  "ec-medium-green": $ec-medium-green,
  "ec-green": $ec-green,
  "ec-light-green": $ec-light-green,
  "ec-grey": $ec-grey,
);

$table-variants: (
  "ec-dark-green": rgba($ec-dark-green, 0.6),
  "ec-medium-green": rgba($ec-medium-green, 0.6),
  "ec-green": rgba($ec-green, 0.6),
  "ec-light-green": rgba($ec-light-green, 0.6),
  "ec-grey": rgba($ec-grey, 0.6),
);

$nav-pills-link-active-color: $ec-dark-green;
$nav-pills-link-active-bg: $ec-grey;

$nav-link-color: $ec-grey;
$nav-link-hover-color: darken($ec-grey, 10%);

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";

.form-control,
.form-select {
  border-color: darken($ec-dark-green, 15%);
  &:focus {
    border-color: darken($ec-dark-green, 25%);
    box-shadow: 0 0 0 0.2rem rgba($ec-dark-green, 0.25);
  }
}

.table-wrapper {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  display:inline-block;
  width: 100%;
}

.table-custom {
  border-radius: 0.25rem;
  display: table;
  overflow: hidden;

  thead th {
    background-color: $ec-dark-green;
    color: white;
  }
}

.nav-pills .nav-link.active .fa-icon {
  color: $ec-dark-green;
}
