.tabs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.tab-button {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.tab-button:last-child {
  margin-right: 0;
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  color: #344e41;
}

.recycler-image {
  max-width: 80%;
  max-height: 80%;
}
