.tabs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.tab-button {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.tab-button:last-child {
  margin-right: 0;
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
